"*":
  "exception-reporting":
    userId: "9271f751-9317-c1ec-03df-d92c59f8b44f"
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
    ignoredNames: [
      ".git"
      "_core"
      "tmp"
      "dist"
      "node_modules"
      "bower_components"
    ]
    themes: [
      "one-dark-ui"
      "chester-atom-syntax"
    ]
  editor:
    invisibles: {}
    softWrap: true
    fontSize: 20
    fontFamily: "Fira Code, monospace"
  "go-plus":
    goPath: "~"
    goInstallation: "/usr/local/go"
    formatTool: "goreturns"
  "autocomplete-plus":
    confirmCompletion: "enter"
  "go-imports": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "go-oracle": {}
  tabs:
    showIcons: true
    usePreviewTabs: true
  "one-dark-ui": {}
  autosave:
    enabled: true
  "fuzzy-finder": {}
  "git-diff":
    showIconsInEditorGutter: true
"source.gfm":
  editor:
    softWrap: true
